* {
    padding: 0;
    margin: 0;
}

body {
    
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-bar {
    background:blue;
    
    text-align: center;
    
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: green;
    
}

.menu-bar ul li {
    width: 100px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color:white;
}

.active,
.menu-bar ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.menu-bar.fa {
    margin-right: 8px;
}

.sub-menu-l {
    display: none;
}

.menu-bar ul li:hover .sub-menu-l {
    display: block;
    position: absolute;
    background:black;
    margin-top: 15px;
    border:1px solid gray;
    margin-left: left 15px;
}

.menu-bar ul li:hover .sub-menu-l ul {
    display: block;
    margin: 10px;
}

.menu-bar li:hover .sub-menu-l ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar li:hover .sub-menu-l ul li:last-child {
    border-bottom: none;
}

.menu-bar li:hover .sub-menu-l ul li a:hover {
    color: #b2ff00;
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgba(0, 100, 0);
}
/*footer start*/
#Footer{
    display:grid;
    grid-template-columns: 3fr 3fr 3fr 3fr 5fr;
}
ul{
    list-style-type: none;
}
li{
    padding:10px;
    color:gray;
}
#Fhead{
    font-size:25px;
    font-weight: bold;
    color:black;
}
#FTwo{
    font-size:25px;
    font-weight: bold;
    color:black;
    text-align: center;
}
#mainHead{
    display:grid;
    grid-template-columns: 3fr 3fr;
    color:black;
    margin:5px;
}
#mainHead1li2{
 width:300px;
 height:350px;
 
}
#mainHead1li1{
    font-size:70px;
    color:black;
    font-family:Arial;
}
#mainHead2{
    text-align: center;
}
#mainHead2li1{
    color:darkblue;
    font-weight: bold;
    font-family:Arial;
    font-size:36px;
}
#mainHead2li2{
    font-size:30px;
}
#mainHead3{
    display:grid;
    grid-template-columns: 2fr 2fr;
    background-color:blue;
    margin:5px;
    border-radius: 12.5px;
    
}
#mainHead3ul1{
    background-color:white;
    margin:25px;
    border-radius: 12.5px;
}
#mainHead3li1{
    color:black;
    font-weight: bold;
    font-size:25px;
}
#mainHead3li2{
    color:gray;
    
    font-size:20px;
}
#MainEnd{
    display:grid;
    grid-template-columns: 3fr 3fr;
    padding:20px;
    color:blue;
}
#MainEndli{
    font-size:22px;
    font-family: Lucida Calligraphy;
    color:black;
}
#MainIcon{
    display:grid;
    grid-template-columns: 3fr 3fr ;
}